/about.html
/about.js
/cart.html
/cart.js
/cartview.js
/checkout.html
/checkout.js
/contact.html
/contact.js
/node_modules
/package-lock.json
/package.json
/product.html
/product.js
/products.json
/sass
/shop.html
/shop.js
/sliderProducts.json